CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
*.out
*.elf
*.a
*.hex
*.map
*.lss
*.old
.idea/*
.DS_Store
cmake-build-debug/*
.vscode/*
build/*
/build_*/
workspace.code-workspace
sdkconfig.old

components/jimtcl/tmp/
dependencies.lock
managed_components/
components/jimtcl/src/

__pycache__/
*.pyc
